<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form th:object="${regristasi}" th:action="@{save}" method="POST">
                <table>
                    <tr>
                        <td> Birth Date </td>
                        <td> <input type="text" th:field="*{birthDate}"> </td>
                    </tr>
                    <tr>
                        <td> Current Company </td>
                        <td> <input type="text" th:field="*{currentCompany}"> </td>
                    </tr>
                    <tr>
                        <td> Degree </td>
                        <td> <input type="text" th:field="*{degree}"> </td>
                    </tr>
                    <tr>
                        <td> Email </td>
                        <td> <input type="text" th:field="*{email}"> </td>
                    </tr>
                    <tr>
                        <td> Gender </td>
                        <td> <input type="text" th:field="*{gender}"> </td>
                    </tr>
                    <tr>
                        <td> Job </td>
                        <td> <input type="text" th:field="*{job}"> </td>
                    </tr>
                    <tr>
                        <td> Major </td>
                        <td> <input type="text" th:field="*{major}"> </td>
                    </tr>
                    <tr>
                        <td> Name </td>
                        <td> <input type="text" th:field="*{name}"> </td>
                    </tr>
                    <tr>
                        <td> Password </td>
                        <td> <input type="text" th:field="*{password}"> </td>
                    </tr>
                    <tr>
                        <td> Phone </td>
                        <td> <input type="text" th:field="*{phone}"> </td>
                    </tr>
                    <tr>
                        <td> Status </td>
                        <td> <input type="text" th:field="*{status}"> </td>
                    </tr>
                    <tr>
                        <td> University </td>
                        <td> <input type="text" th:field="*{university}"> </td>
                    </tr>
                    <tr>
                        <td> Username </td>
                        <td> <input type="text" th:field="*{username}"> </td>
                    </tr>
                    
                </table>
                <input type="submit" value="Save" name="Save"/>
            </form>
        </div>
    </body>
</html>
