<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <a href="basic">Basic</a>
            <a href="address">Address</a>
            <a href="contact">Contact</a>
            <a href="education">Education</a>
            <a href="occupation">Occupation</a>
            <form th:object="${contact}" th:action="@{/savecontact}" method="POST">
                <table width="25%">
                    <tr>
                        <td>ID</td>
                        <td>:</td>
                        <td><input type="text" th:field="*{id}" readonly="true"/></td>
                    </tr>

                    <tr>
                        <td>Facebook</td>
                        <td>:</td>
                        <td><input type="text" th:field="*{facebook}" /></td>
                    </tr>

                    <tr>
                        <td>Instagram </td>
                        <td>:</td>
                        <td><input type="text" th:field="*{instagram}" /></td>
                    </tr>

                    <tr>
                        <td>Linked In </td>
                        <td>:</td>
                        <td><input type="text" th:field="*{linkedin}" /></td>
                    </tr>
                    
                    <tr>
                        <td>Phone</td>
                        <td>:</td>
                        <td><input type="text" th:field="*{phone}" /></td>
                    </tr>

                    <tr>
                        <td colspan="3"><input type="submit" value="Save" name="Save" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>
