<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    </head>
    <body>
        <div class="container-sm p-3 border rounded-lg shadow" style="margin-top: 7%;background-color: white;width: 60%">
            <div class="row">
                <div class="col-sm-3">
                    <center><h5 class="mb-4 mt-3 pl-3">User Profile</h5></center>
                    <ul class="nav nav-pills flex-column pl-4 ">
                        <li class="nav-item">
                            <a class="nav-link" href="basic">Basic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active shadow" href="address">Address</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="education">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="occupation">Occupation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-8">
                    <div style="margin-top: 5%;">
                        
                        <form th:object="${address}" th:action="@{/saveaddress}" method="POST">
                            <div class="d-flex flex-row">
                                <div><img class="rounded-circle shadow ml-5 mb-5 mr-3" src="https://cdn1.iconfinder.com/data/icons/website-internet/48/website_-_male_business-512.png" height="100px" width="100px"></div>
<!--                                <div class="pt-3">
                                    <span th:object="${basic}" style="font-family: 'Lucida Bright';font-size: 20px" th:text="*{name}"></span>
                                    <p th:object="${basic}"style="color: gray" th:text="*{email}"></p>
                                </div>-->
                            </div>
                            
                            <table width="100%" cellpadding="2%"class="ml-5">
                                <input type="text" th:field="*{id}" readonly="true" hidden="true"/>
                                <tr style="font-size: 12px;color: gray">
                                    <td>City</td>
                                    <td>Province</td>
                                </tr>

                                <tr>
                                    <td><input type="text" class="form-control" th:field="*{city}" style="width: 77%"/></td>
                                    <td><input type="text" class="form-control" th:field="*{province}" style="width: 77%"/></td>
                                </tr>
                                <tr style="font-size: 12px;color: gray">
                                    <td>Street 1</td>
                                    <td>Street 2</td>
                                </tr>

                                <tr>
                                    <td><input type="text" class="form-control" th:field="*{street1}" style="width: 77%"/></td>
                                    <td><input type="text" class="form-control" th:field="*{street2}" style="width: 77%"/></td>
                                </tr>

                                <tr style="font-size: 12px;color: gray">
                                    <td>Zip Code</td>
                                </tr>
                                
                                <tr>
                                    <td><input type="text" class="form-control" th:field="*{zipCode}" style="width: 77%"/></td>
                                </tr>
                                
                                <tr>
                                    <td colspan="2" style="text-align: center;" >
                                        <button type="submit" value="Save" name="Save" class="btn btn-primary w-50 m-4 ml-n4 shadow">Save</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://kit.fontawesome.com/2d819bcdec.js" crossorigin="anonymous"></script>
    </body>
</html>
